.pirate {
  height: 600px;
  max-height: 250%;
}
.rec-item-wrapper {
  height: auto;
}
.rec.rec-arrow {
  border-radius: 10%;
  color: #220901;
}
.rec.rec-dot.rec-dot_active.brcpxa {
  background-color: #f27405;
  box-shadow: 0 0 1px 3px rgb(32, 31, 32);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.rec-arrow-right,
.rec-arrow-left {
  background: linear-gradient(to bottom, #19d3da 5%, #043a3b 100%);
  cursor: pointer;
}
.chowzb:hover:enabled,
.chowzb:focus:enabled {
  background-color: #19d3da;
}

button.gUWalH:hover,
button.gUWalH:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px #220901;
}

button.gUWalH:hover,
button.gUWalH:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px #ed8d8d;
}

button.DIuaA {
  box-shadow: #19d3da;
  box-shadow: 0 0 1px 3px#043a3b;
  background-color: #19d3da;
}

img {
  max-height: 180px;
}
